/oldp/
/plots/
/results/
/results_nohp/
/results_f1_10hp/
*.csv
*.png
*.log
*.pickle
*.ipynb
*.jovianrc
/bounds/
/AES_HD_Dataset-master/
/plots_acc/
/plots_bc/
/results_acc/
/results_acc_10fold/
/results_acc_10fold_gp/
/results_acc_big/
/results_bc/
/__pycache__/
/temp/
